
html{
}

body{
    background: white;
    cursor: none;

}

button:hover{
    cursor: none;
}



.mainNavbar{
    z-index: 9;
    margin-top: 3%;
    animation: fade 4s forwards;
}


.navbar-brand{
    padding-right: 2%;
    margin-left: 10%;
    padding-top: 25%;
}



.navbar-brand img{
    height: 225px;
    mix-blend-mode: difference;
}

.navbar-brand{
    margin-bottom: 5%;
}

.mainNavbar a{
    color:white;
    font-size: 25px;
    cursor: none;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  border-right: 1px solid white;
}

.navbar-nav{
    width: 100%;
}

.navbar-nav li{
    width:20% ;
    text-align: center;
}

.navbar-nav li:nth-child(3){
    width: 40%;
    border-right: 0;
}

.navbar-nav li:nth-child(1){
    height: 50px;
}

.navbar-nav li:nth-child(2){
    height: 50px;
}

.navbar-nav li:nth-child(4){
    height: 50px;
    border-left: 1px solid white;
}

.navbar-nav li:nth-child(5){
    height: 50px;
}



/*Dropdown services*/

.dropdown {
    float: left;
}


.dropbtn {
  cursor: pointer;
  font-size: 23px;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  padding: 14px 16px;
  background: none;
  margin: 0;

}

.dropdown:hover .dropbtn, .dropbtn:focus {
  border: solid 3px black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 2px solid white;
  font-size: 16px;
  font-weight: 900;

}

.dropdown-content a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.show {
  display: block;
}



/*.sticky{
    position: sticky;
    /*background-image: linear-gradient(to bottom, orange,goldenrod);
    background-color: skyblue;
    top: 0;
    margin-top: 0;
    /*border-radius: 0 0 100px 100px;
    border-bottom: 2px solid grey;
}
.sticky a{
    color: white;
}

.sticky img{
    height: 80px;
}*/



/** carousel**/

#Home-Carousel{
  width:100%;
  top: 0;
  position: absolute;
}

.carousel-item img{
    /*max-height: 800px;*/
    height: 800px;
}
.carousel-caption h5{
    display: none;
    margin-bottom: 15%;
    color: white;
    font-size: 7vw;
    font-family:Palatino ;
}


.carousel-item{
    z-index: -2;
}


.carousel-control-next:hover{
    cursor: none;
}

.carousel-control-prev:hover{
    cursor: none;
}


.title{
    color: whitesmoke;
    font-size: 8vw;
    margin-left: 15%;
    top: 45%;
    font-family:Palatino ;
    z-index: -1;
    position: fixed;
    text-align: center;
}

.header_description {
    display: none;
    font-size: 50px;
    animation: 4s fade forwards;
    color: goldenrod;
}

.Maintitle_measure{
    margin-top: 50%;
}


@keyframes titleAnimate {
    0%{
        font-size: 1px;
    }

    50% {
        font-size: 100px;
    }
    100% {
        font-size: 50px;
    }
}

.Keyword_container{
    margin-top:65% ;
}


.Keyword_title{
    text-align: left;
    color:rgb(23, 39, 62); ;
    font-size: 4vw;
    padding-bottom: 0;
}

.keyword_content{
    display: flex;
    margin-top: 5%;
}

.keyword_list{
    display: grid;
    list-style-type: none;
    column-gap: 2%;
}

.keyword_list li{
    font-size: 20px;
    text-align: center;
}

.keyword_list li img{
    width: 300px;
    height: 300px;
    margin-top: 10%;
}

.keyword_list li h1{
    text-align: center;
    padding-bottom: 4%;
    font-size: 30px;
}


.keyword_list li:nth-child(1){
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    border-right: 1px solid rgb(23, 39, 62);;
    padding-right: 1%;
    opacity: 0;
    animation-delay: 0.25s;
}

.keyword_list li:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
    border-right: 1px solid rgb(23, 39, 62);;
    padding-right: 1%;
    opacity: 0;
    animation-delay: 0.5s;

}
.keyword_list li:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
    opacity: 0;
    animation-delay: 0.75s;
}

.Keyword_element_animate{
    animation: fade 1s forwards;
}

@keyframes MainTitle  {
    0%{
        color: black;
    }
    50%{
        opacity: 0;
    }

    100%{
        color: goldenrod;
        opacity: 1;
    }

}

.MainTitle{
    animation: MainTitle 0.5s forwards;
    position: absolute;
    top:110%;
}



#circularcursor {
  background-color: transparent;
  border:1px solid black;
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 1;
}


.Organisation_container{
    margin-top: 5%;
}

.Org_title{
    font-size: 4vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    color: rgb(23, 39, 62);
    margin-left: 2%;
    /*animation:
    /*background-color: blue;*/
    width: max-content;
}




/**.Org_grid{
    margin-left: 15%;
    width: 70%;

    row-gap: 50px;
    /**background-image: url("canvas_background.gif");
    background-size: 100% 100%;

    margin-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;

}**/

.parallax {
  /* The image used */
  background-image: url("pascal-bernardon-d4lFeKCfBV4-unsplash.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_4 {
  /* The image used */
  background-image: url("ann-wallace-biepNX5n7r4-unsplash.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax_5 {
  /* The image used */
  background-image: url("digital-marketing-agency-ntwrk-g39p1kDjvSY-unsplash.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax_3 {
  /* The image used */
  background-image: url("andrew-welch-kwXby58kRSo-unsplash.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_2 {
  /* The image used */
  background-image: url("victor-malyushev-TuKjDq44tQw-unsplash.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/**
#org_el_1{
    height: 200px;
    width: 200px;
    background-color: grey;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 25px;
    z-index: 1;
}

#org_el_1:hover{
    box-shadow: grey 0px 0px 22px 4px;
    cursor: pointer;

}

#org_el_2{
    height: 200px;
    width: 200px;
    background-color: deepskyblue;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 100px;
    border-radius: 25px;
    z-index: 2;
}

#org_el_3{
    height: 200px;
    width: 200px;
    background-color: mediumvioletred;
    grid-column-start: 0;
    grid-column-end: 1;
    border-radius: 25px;
    z-index: 1;
    opacity: 0;
}

#org_el_3:hover{
    box-shadow: mediumvioletred 0px 0px 22px 4px;
    cursor: pointer;
}

#org_el_4{
    height: 200px;
    width: 200px;
    background-color: green;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius: 25px;
    opacity: 0;
    z-index: 1;
}

#org_el_4:hover{
    box-shadow: green 0px 0px 22px 4px;
    cursor: pointer;
}

#org_el_1 h1{
    text-align: center;
    font-size: 30px;
    color: #f9f9f9;
    margin-top: 30%;
}
#org_el_2 h1{
    text-align: center;
    font-size: 30px;
    color: mediumvioletred;
    margin-top: 40%;
}
#org_el_3 h1{
    text-align: center;
    font-size: 30px;
    color: #f9f9f9;
    margin-top: 30%;
}
#org_el_4 h1{
    text-align: center;
    font-size: 30px;
    color: #f9f9f9;
    margin-top: 30%;
}

/**Each elements goes to their own position that are definied with keyframes**/
/**
.org_el_1_position{
    animation: org_el_1_animate_1 2s linear;

}

.org_el_3_position{
    animation: org_el_1_animate_3 3s forwards;
    animation-delay: 2s;

}

.org_el_4_position{
    animation: org_el_1_animate_4 3s forwards;
    animation-delay: 5s;

}

@keyframes org_el_1_animate_1 {
    0%{
        transform: translateY(175%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes org_el_1_animate_3 {
    0%{
        transform: translateY(-125%) translateX(125%);
        opacity: 1;
    }
    100%{
        transform: translateY(0%) translateX(0%);
        opacity: 1;
    }

}

@keyframes org_el_1_animate_4 {
    0%{
        transform: translateY(-125%) translateX(-125%);
        opacity: 1;
    }
    100%{
        transform: translateY(0%) translateX(0%);
        opacity: 1;
    }
}
**/







.See_more_container{
    margin-top: 5%;
    padding-bottom: 5%;/*to remove*/
    margin-right: 2%;
}


.See_more{
    font-size: 18px;
    text-decoration: none;
    background-color: white;
    color: goldenrod;
    border: solid 2px goldenrod;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 30px;
}


.See_more:hover{
    background-color: goldenrod;
    color: black;
}

.Keyword_name{
    padding-bottom: 5%;
    font-size: 30px;
    color: goldenrod;
}

.Buy_now_container{
    margin-top: 2%;
    padding-bottom: 5%;
}


.Buy_now{
    text-decoration: none;
    background-color: white;
    color: goldenrod;
    border: solid 2px goldenrod;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 30px;
}


.Buy_now:hover{
    background-color: goldenrod;
    color: black;
}


.Organisation_container{

}

#schema_org{
    /*border: 1px solid black;*/
    margin-left: 10%;
    width: 80%;
    height: 500px;
    margin-top: 5%;
    background-image:url("canvas_background.gif");
    background-size: 100% 100%;

}

/**Soumission**/
.Soumission_email{
    display: flex;
    padding-bottom: 5%;
    background-color: whitesmoke;
}

.Soumission_description{
    width: 45%;
}

.soumission_gallery{
    display: grid;
    column-count: 3;
    list-style-type: none;
    row-gap: 20px ;
    grid-column-gap: 5px;
}

.Soumission_image{
    width: 45%;
    margin-left: 5%;
    opacity: 0;
    animation-delay: 3s;
}

.Soumission_image img{
    height: 70%;
    width: 70%;

}


.soumission_item img{
    width: 200px;
    height: 250px;
}

.soumission_item:nth-child(1){
    grid-row-start: 0;
    grid-row-end:1 ;
    grid-column-start: 0;
    grid-column-end: 1;
    opacity: 0;
}
.soumission_item:nth-child(2){
    grid-row-start: 0;
    grid-row-end:1 ;
    grid-column-start: 1;
    grid-column-end: 2;
    animation-delay: 0.5s;
    opacity: 0;
}
.soumission_item:nth-child(3){
    grid-row-start: 0;
    grid-row-end:1 ;
    grid-column-start: 2;
    grid-column-end: 3;
    animation-delay: 1s;
    opacity: 0;
}
.soumission_item:nth-child(4){
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 0;
    grid-column-end: 1;
    animation-delay: 1.5s;
    opacity: 0;
}
.soumission_item:nth-child(5){
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end: 2;
    animation-delay: 2.2s;
    opacity: 0;

}
.soumission_item:nth-child(6){
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 2;
    grid-column-end: 3;
    animation-delay: 2.5s;
    opacity: 0;
}

.animate_perspective_and_rotate{
    animation: 1s perspective_and_rotate forwards ;
}

@keyframes perspective_and_rotate {
    0%{
        transform:perspective(1000px) rotateX(45deg);
        opacity: 0;
    }
    100%{
        transform:perspective(1000px) rotateX(0);
        opacity: 1;
    }
}



.Soumission_Form{
    margin-left: 10%;
    float:left;
}



.Soumission_Form label input{
    width: 450px;
}


.credit {
  background-color: linen;
  color: black;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Playfair Display", serif;
  display: flex;
}

.logo_img img{
    height: 175px;
    width: 175px;
}


.credit_col_1 {
    list-style-type: none;
    width: 45%;
    float: left;
}

.credit_col_2 {
    margin-top: 10%;
    float: right;
    list-style-type: none;
    font-size: 25px;
}

.credit_logo {
    list-style-type: none;
    display: flex;
}

#Book_your_place {
    border-bottom: 1px solid grey;
    font-size: 40px;
}

#Barber_credit {
    font-size: 25px;
    color: #9c9c9c;
}

.credit_col_1 li {
    padding-bottom: 3%;
    font-size: 40px;
    padding-right: 10%;
}

#second_li {
    padding-bottom: 2%;
}

.credit_col_3 {
    margin-top: 10%;
    float: right;
    list-style-type: none;
    margin-left: 5%;
    font-size: 25px;
}

.credit_col_3 h1, .credit_col_2 h1 {
    border-bottom: solid 1px grey;
    color: black;
}

.credit_col_2 li, .credit_col_3 li {
    padding-bottom: 5%;
    color: black;
}

.Credit_Barber {
    color: goldenrod;
    font-size: 20px;
    border-radius: 30px;
    border: solid 1px goldenrod;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
}

.Credit_Barber:hover {
    background-color: goldenrod;
    color: black;
}

.credit_logo li a {
    color: black;
}

.credit_logo li a:hover {
    color: goldenrod;
}

.copyright {
    background-color:linen;
    color: black;
    text-align: center;
    padding-bottom: 2%;
}

.credit_col_2 li a {
    text-decoration: none;
    color: black;
}

.credit_col_2 li a:hover {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 775px) {
    .credit {
        display: block;
    }
    .credit_col_1 {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .credit_col_1 li {
        padding-right: 0;
    }
    .credit_logo li {
        padding-right: 10%;
    }
    #Book_your_place {
        font-size: 20px;
    }
    .credit_logo {
        margin-left: 10%;
    }
    .credit_col_2 {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .credit_col_3 {
        float: none;
        width: 100%;
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
    .credit {
        padding-bottom: 10%;
    }
    .copyright {
        text-align: center;
    }
}


@media screen and (max-width: 1000px) {
    .title{
        display: none;
    }

    .Maintitle_measure{
        display: none;
    }

    .keyword_list li h1{
        font-size: 25px;
    }

    .keyword_list li{
        font-size: 18px;
    }

    .keyword_list li img{
        width:250px;
        height: 250px;
    }


    .header_description{
        display: block;
    }
    .Keyword{
    }
    .Description{
        padding-left: 5%;
        padding-right: 5%;
    }

    .carousel-caption h5{
        display: block;
    }

    .carousel-item img{
        height: 600px;
    }

    .Keyword_container{
        margin-top: 40%;
    }

    .soumission_item:nth-child(6){
        display: none;
    }

    .soumission_item:nth-child(3){
        display: none;
    }

    .credit_col_2 {
        font-size: 20px;
    }
    .credit_col_3 {
        font-size: 20px;
    }


}


/**Contact**/

.contact_background{
    /**background-image: url("contact_us.png");**/

    /**background-size:100% 100%;**/
    background-color: gainsboro;
}


#contact_title{
    /*font-size: 60px;*/
    font-size: 5vw;
    color: white;
    /**text-align: center;**/
    /**margin-top: 7.5%;**/
    /*animation: linear 4s Contact_title_animate;*/
}

.contact_info{
    padding-left: 10%;
    padding-top: 2%;
    display: flex;
    background-color: white;
    padding-bottom: 5%;

}

.contact_info h1{
    font-size: 35px;
}

#infos_left{
    float: left;
}


.Email_Form{
}

#General_info{
    margin-top: 5%;

}

#General_info th{
    font-size: 20px;
}
#schedule{
    border-collapse: separate;
}

#schedule caption{
    font-size: 30px;
    caption-side: top;
    color: black;
}


#infos_right{
    margin-left: 5%;
    animation: forwards 3s fade;
}

#google_map{
}

.Email_Form label input{
    width: 450px;
}

#contact_button{
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 5px;
    width: 200px;
}

#contact_button:hover{
    background-color: skyblue;
    color: black;
    border:solid 1px blue
}

#l1{
    animation: 1s linear comeFromLeft;
}

#l2{
    animation: 1.5s linear comeFromLeft;
}

#l3{
    animation: 2s linear comeFromLeft;
}

#l4{
    animation: 2.5s linear comeFromLeft;
}

#l5{
    animation: 3s linear comeFromLeft;
}



@media screen and (max-width: 1300px){
    .contact_info{
        display: block;
        padding-left: 5%;
    }
    #contact_title{
        /*font-size: 40px;*/
    }
    #infos_right{
        margin-left: 0;
    }

    #infos_left{
        padding-right: 2%;
    }

    #google_map{
        width:450px;
    }
}

/**A propos**/

.team_background{
    background-image: url("slide_2.jpg");
    height: 600px;
    background-size:100% 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#team_title{
    font-size: 7vw;
    color: white;
    text-align: center;
    margin-top: 25%;
}


.team_main_nav a{
    color: black;
}

.team_main_nav li{
    border-right: 1px solid black;
}

#about_nav{
    width: 100%;
    margin-top: 10%;
    background: none;
    color:rgb(23, 39, 62); ;
}

#team_side_nav{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-left: 25%;
}

#team_side_nav li{
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid grey ;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    cursor: pointer;

}

#team_side_nav li:first-child{
    margin-left: 0;
}



#team_side_nav li:hover{
    border-bottom: goldenrod 1px solid;
    color: goldenrod;
}

#Equipe{
    margin-top: 30%;
    margin-left: 15%;
}

#about_content{
    /*padding-left: 20%;
    padding-right: 10%;*/
    font-size: 25px;
}

#about_content h1{
    font-size: 45px;
    padding-bottom: 2%;
    color: rgb(23, 39, 62);
}

#Mission{
    padding-bottom: 5%;
    text-align: center;
}

#Mission h1{
    text-align: center;
}


#Objectifs {
    padding-bottom: 5%;
}

#Objectifs h1{
    text-align: center;
}

#Objectifs ul{
    padding-left: 15%;
}


#Exploits{
    padding-bottom: 5%;
    text-align: center;
}

#Member_list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 5%;
}

#Member_list li {
    margin-left: 5%;
    text-align: center;
    opacity: 0;
}

#Member_list li img {
    height: 400px;
    width: 250px;
    display: block;
    margin: 0 auto;
}

#Member_list li p1 {
    color: black;
    font-size: 20px;
}

#Member_list li:first-child {
    /*animation: fade forwards 4s;*/
    /*animation-delay: 1s;*/
}

#Member_list li:nth-child(2) {
    /*animation: fade forwards 4s;*/
    animation-delay: 0.5s;
}

#Member_list li:nth-child(3) {
    /*animation: fade forwards 4s;*/
    animation-delay: 1s;
}


#Member_title {
    text-align: center;
    color: goldenrod;
    padding-bottom: 5%;
    font-size: 5vw;
}

@media screen and (max-width: 1000px) {
    .team_background{
        height: 600px;
    }
    #about_nav{
        margin-top: 10%;
    }

    #team_title{
        margin-top: 35%;
    }

    #Equipe{
        margin-top: 40%;
        margin-left: 5%;
    }

    #team_side_nav{
        margin-left: 2%;
    }

    #about_content{
    }

    #Member_list {
        display: grid;
        margin-left: 0;
    }
    #Member_list li {
        text-align: center;
        margin-left: 0;
        padding-bottom: 5%;
        padding-right: 10%;
    }
    #Member_list li:first-child {
        grid-row: 1;
    }
    #Member_list li:nth-child(2) {
        grid-row: 1;
    }
    #Member_list li:nth-child(3) {
        grid-row: 1;
    }
    #Member_list li img {
        width: 250px;
        height: 400px;
    }

    #Exploits{
        padding-left: 5%;
        padding-right: 5%;
    }
}

/*#Member_list li:first-child img:hover {
  box-shadow: blue 0px 0px 22px 4px;
}

#Member_list li:nth-child(2) img:hover {
    box-shadow: goldenrod 0px 0px 22px 4px;
}

#Member_list li:nth-child(3) img:hover {
  box-shadow: red 0px 0px 22px 4px;
}*/

/**Gestion**/

.esprit{
    text-align: center;
    margin-top: 40%;
    font-size: 4.5vw;
    color:rgb(23, 39, 62);
    opacity: 0;
}

.Gestion_box_list{
    list-style-type: none;
    display:grid;
    padding-right: 5%;
    margin-left: 2%;
    grid-row-gap: 5%;
    margin-top: 7%;
    row-gap: 75px;
}

.Gestion_box_container{
    /*width: 30%;*/
    margin-left: 5%;
    color:rgb(23, 39, 62);
    padding: 5%;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /**backdrop-filter: blur(1.5px);**/
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /**transform: translateX(-400%);**/
    font-size: 16px;
}

.Gestion_box_name{
    font-size: 20px;
    text-align: center;
    opacity: 0;
}

.Gestion_box_description{
    opacity: 0;

}




.Gestion_box_list li:nth-child(1) h1{
    animation-delay: 0.5s;
}
.Gestion_box_list li:nth-child(2) h1{
    animation-delay: 0.5s;
}
.Gestion_box_list li:nth-child(3) h1{
    animation-delay: 0.5s;
}
.Gestion_box_list li:nth-child(4) h1{
    animation-delay: 0.5s;
}
.Gestion_box_list li:nth-child(5) h1{
    animation-delay: 0.5s;
}

.Gestion_box_list li:nth-child(1) p2{
    animation-delay: 0.5s;
}

.Gestion_box_list li:nth-child(2) p2{
    animation-delay: 0.75s;
}

.Gestion_box_list li:nth-child(3) p2{
    animation-delay: 1s;
}

.Gestion_box_list li:nth-child(4) p2{
    animation-delay: 1.25s;
}

.Gestion_box_list li:nth-child(5) p2{
    animation-delay: 1.5s;
}


.Gestion_box_list li:nth-child(1){
    /*animation-delay: 1.5s;*/
    grid-column-start: 0;
    grid-column-end:1 ;
    grid-row-start: 0;
    grid-row-end: 1;
}
.Gestion_box_list li:nth-child(2){
    animation-delay: 0.5s;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;

}
.Gestion_box_list li:nth-child(3){
    animation-delay: 0.5s;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 0;
    grid-row-end: 1;

}
.Gestion_box_list li:nth-child(4){
    animation-delay: 0.5s;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Gestion_box_list li:nth-child(5){
    animation-delay: 0.5s;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

.border-trace{
    animation: border-tracing 2s forwards;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes border-tracing {
    0%{
        border-top: solid 2px;
        border-image-source:linear-gradient(to right, white 90% ,black 10% );
        border-image-slice: 1;
    }
    12.5%{
        border-top: solid 2px;
        border-image-source:linear-gradient(to right, white 0% ,black 100%);
        border-image-slice: 1;

    }
    25%{
        border-top:solid black 2px;
        border-left: solid 2px;
        border-image-source:linear-gradient(to top, white 90% ,black 10% );
        border-image-slice: 1;
    }
    37.5%{
        border-top:solid black 2px;
        border-left: solid 2px;
        border-image-source:linear-gradient(to top, white 0% ,black 100%);
        border-image-slice: 1;
    }
    50%{
        border-top:solid black 2px;
        border-left:solid black 2px;
        border-bottom: solid 2px;
        border-image-source:linear-gradient(to left, white 90% ,black 10% );
        border-image-slice: 1;
    }
    62.5%{
        border-top:solid black 2px;
        border-left:solid black 2px;
        border-bottom: solid 2px;
        border-image-source:linear-gradient(to left, white 0% ,black 100%);
        border-image-slice: 1;
    }
    75%{
        border-top:solid black 2px;
        border-left:solid black 2px;
        border-bottom:solid black 2px;
        border-right: solid 2px;
        border-image-source:linear-gradient(to bottom, white 90% ,black 10% );
        border-image-slice: 1;
    }
    77.5%{
        border-top:solid black 2px;
        border-left:solid black 2px;
        border-bottom:solid black 2px;
        border-right: solid 2px;
        border-image-source:linear-gradient(to bottom, white 0% ,black 100%);
        border-image-slice: 1;
    }
    80%{
        border-image-source:none;
        border-top:solid black 2px;
        border-left:solid black 2px;
        border-bottom:solid black 2px;
        border-right: 2px solid black;
    }
    100%{
        margin-left: 5%;
        color:rgb(23, 39, 62);
        padding: 5%;
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        /**backdrop-filter: blur(1.5px);**/
        -webkit-backdrop-filter: blur(6.5px);
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        /**transform: translateX(-400%);**/
        font-size: 16px;
    }
}
@media screen and (max-width: 1000px) {

    .Gestion_box_list{
        display: inline-block;
    }


    .Gestion_box_list li:nth-child(1){
        margin-top: 5%;

    }
    .Gestion_box_list li:nth-child(2){
        margin-top: 5%;

    }
    .Gestion_box_list li:nth-child(3){
        margin-top: 5%;

    }
    .Gestion_box_list li:nth-child(4){
        margin-top: 5%;
    }

    .Gestion_box_list li:nth-child(5){
        margin-top: 5%;
    }
}

/**Cursor**/

.inner-cursor{
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;

}

.inner-cursor.grow{
    width: 40px;
    height: 40px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor{
    position: fixed;
    left: 10px;
    width: 50px;
    height: 50px;
    transform:  translate(-50%, -50%);
    border:  1px solid #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: 0.0s;
    border-radius: 50%;

}

@media screen and (max-width: 1000px) {
    .inner-cursor{
        display: none;
    }
    .outer-cursor{
        display: none;
    }

    body{
        cursor: pointer;
    }
}




/**Animation**/

@keyframes comeFromLeft {
      0% {
      transform: translate(-100%);   }
      100% {
        transform: translate(0);   }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.fade{
    animation: fade forwards 2s;
}

@keyframes Contact_title_animate {
    0%{
        font-size: 30vw;
    }
    100%{
        font-size: 4vw;
    }

}
